<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.github.skittlesdev.kubrick" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <permission android:protectionLevel="signature"
                android:name="com.github.skittlesdev.kubrick.permission.C2D_MESSAGE" />
    <uses-permission android:name="com.github.skittlesdev.kubrick.permission.C2D_MESSAGE" />

    <application
        android:name=".KubrickApplication"
        android:allowBackup="true"
        android:icon="@mipmap/kubrick_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".HomeActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_home" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.github.skittlesdev.kubrick.MediaActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="kubrick" android:host="media" />
            </intent-filter>
        </activity>
        <activity android:name=".SearchActivity" />
        <activity android:name=".SignupActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".FavoritesActivity"/>
        <activity android:name=".AboutActivity"/>
        <activity android:name=".ProfileActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:scheme="kubrick" android:host="profile" />
            </intent-filter>
        </activity>
        <activity android:name=".SerieEpisodeActivity"/>
        <activity android:name=".ProfileRelationsActivity"/>
        <activity android:name=".PeopleActivity"/>

        <meta-data android:name="com.parse.push.notification_icon" android:resource="@drawable/kubrick_icon"/>

        <service android:name="com.parse.PushService" />
        <receiver android:name="com.parse.ParsePushBroadcastReceiver"
                  android:exported="false">
            <intent-filter>
                <action android:name="com.parse.push.intent.RECEIVE" />
                <action android:name="com.parse.push.intent.DELETE" />
                <action android:name="com.parse.push.intent.OPEN" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.parse.GcmBroadcastReceiver"
                  android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />
                <category android:name="com.github.skittlesdev.kubrick" />
            </intent-filter>
        </receiver>
    </application>
</manifest>
